body {
    color: #fff;
    background-color: #0c111f;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 1rem;
    line-height: 1.5;

}


*{
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
}


h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.25;
}


h2{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.25;
}  


.lines-wrapper {
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 77.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}


.absolute-line {
    width: 25%;
    height: 100%;
    border-left: 0.5px solid rgba(255, 255, 255, .08);
}


.absolute-line.right-line {
    border-right: 0.5px solid rgba(255, 255, 255, .08);
}


.padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
}


.navbar-container{
    width: 100%;
}


.container-large{
    width: 100%;
}


.nav-container {
    max-width: 75rem;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    display: flex;
}


.nav-menu {
    display: flex;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    align-items: center;

}


.nav-menu .nav-links {
    color: #fff;
    padding: 0.5rem 1.25rem;
    font-size: 1.2rem;
    transition: color .25s;
}


.w-nav-menu {
    float: right;
    position: relative;
}


.nav-social-link{
    display: flex;
    margin-right:1.3rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    align-items: center;
    margin-left: 1.25rem;
    display: flex;

}


.nav-component {
    width: 100%;
    background-color: rgba(12, 17, 31, 0);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}


.padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.space-between {
    width: 100%;
    height: 1.5rem;
}


.heading-style-h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.35;
}


.max-width-medium {
    width: 100%;
}

@media(max-width:992px){
    .max-width-medium {
        width: 100%;
       
    }

    .heading-style-h2 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.35;
    }
}

@media(min-width:992px){
    .max-width-medium {
        width: 100%;
        max-width: 32rem;

       
    }
}


.text-size-medium {
    font-size: 1.125rem;
}


.button {
    color: #fff;
    background-color: #486ff8;
    border-radius: 5rem;
    padding: 0.5rem 1.25rem;
    transition: color .25s, background-color .25s;
}


.nav-icon{
    display: none;
    font-size: 2rem;
}

.header-image-wrapper{
    width: 50%;
    margin-left: 5rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-component{
    display: flex;
}

/* media query  */

@media (max-width:991px) {
    .nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #0c111f;
        margin-top: 2.4rem;
        width: 100%;
        padding: 2rem 0;
        left:0;
    }

    .nav-menu a{
        display: block;
        margin: 0rem auto 0 auto;
        width: 5rem;
        text-align: center;
        padding: 2rem 0;
       
    }
 

    .active .nav-menu{
        display:block;
    }

    .active .nav-social-link{
        flex-direction: row;
        padding-top: 0.5rem;
        justify-content: center;
    }

    .nav-icon{
        display: block;
    }

    .header-component{
        display: block;
    }

    .header-image-wrapper{
        width: 100%;
        height: 400px;
        margin-left:0;
        margin-top: 0.8rem;
    }
}

@media (min-width:991px){
    .padding-global{
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }

    .max-width-medium{
        padding-top: 5rem;
    }
}


/* service section  */


.padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.common-head{
    width: 75%;
}

.services-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.service{
    padding: 0.2rem 1.3rem;
    width: 25%;
}

.service  p{
    color: grey;
}

.services-box .service img{
    height: 5rem;
    justify-content: space-between;
    gap: 1rem;
}


@media (max-width:991px) {
    .service{
        width: 50%;

    }
}

@media (max-width:425px) {

    .common-head{
        width: 100%;
    }

    .service{
        margin-top: 1rem;
        width: 100%;
    }
}

/* project section  */

.common-heading{
    width: 70%;
    text-align: center;
    margin: 3rem auto 5rem;
}

@media (max-width:992px){
    .common-heading{
        width: 100%;
        margin: auto;

    }
} 

@media (max-width:730px){
    .common-heading > h2{
        font-size: 2.5rem;
    }
} 

.common-heading > h2{
    margin-top: 1rem;
    font-weight: bolder;
    letter-spacing:0.5rem;
}

.common-heading p{
    color: gray;
    margin: 1rem 0;
}

.project-boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-boxes .project{
    width: 24%;
    aspect-ratio: 1/1;
}


.project img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.padding-normal{
    padding: 1rem;
}

@media (max-width:991px) {
    .project-boxes .project{
        width: 47%;
    }
}

@media (max-width:425px) {
    .project-boxes .project {
        width: 100%;
    }
}


.load-more{
    width: 8.25rem;
    margin: 0.5rem auto;
}


.left-arrow {
    padding-left:0.21rem;
    padding-top: 0.188rem;
    position: absolute;   
}


/* testonominal  */
.testnominal-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.testonominal{
    background-color: #1F2431;
    width: 32%;
    min-height: 12rem;
    padding: 24px;
}

.profile{
    display: flex;
    margin-top: 1.4rem;
    width: 100%;
    gap: 1.1rem;
}

.user-image{
    width: 50px;
}

@media (max-width:991px){
    .testonominal{
        width: 100%;
    }
}

@media (max-width:283px){
    .profile{
        flex-direction: row;
        justify-content: center;
    }
}


/* about section  */
.about{
    margin: 1.5rem 0rem;
}

 .container {
    display: flex;
    gap: 2.5rem;

 }

 .container .container-img{
    width: 40%;
 }

 .container-img img{
    width: 100%;
    object-fit: cover;
    height: auto;
 }

 .container-text {
    width: 60%;
    padding-left:1rem;
    transform: translateY(15%);
 }

 @media(max-width:992px){
    .container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    
     }

    .container .container-img{
        width: 100%;
     }

     .container-text {
        width: 100%;
        padding-left:1rem;
    transform: translateY(0%);

     }
 }

 /* blog  */
 .blog-section{
    margin: 1rem 0;
    background-color: white;
    padding: 3rem 0rem;
 }

 .blog-section p,
 .blog-section h3{
    color: black;
 }

 .blog-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.5rem;
 }
/* 
 .card {
    width: 30%;
 } */

 .card img{
    width: 100%;
    border-radius: 10px;
 }

 @media (max-width:992px) {
    .blog-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 1rem;
        column-gap: 1.5rem;
     }
 }

 @media (max-width:768px) {
    .blog-wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 1rem;
        column-gap: 1.5rem;
     }

     .card img{
        width: 100%;
        border-radius: 10px;
        aspect-ratio: 4/2;
     }
 }